#Node.js
#Build a general Node.js Project with npm.
#add steps that analze code, save build, Artifacts, Deploy and more


trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  

- script: |
    npm install
    npm test
    npm run build
  displayName: 'npm install and test'

- script: |
    gulp clean
    gulp bundle --ship
    gulp package-solution --ship
  displayName: 'Build and package the solution'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/sharepoint/solution/santander-noticias.sppkg'
    ArtifactName: 'SPFx sppkg'
  displayName: 'Publish build SPFx artifacts'